@import "http://fonts.googleapis.com/css?family=Didact+Gothic";

body {
  font-family:helvetica,arial, sans-serif;
  background-color:#f8f8f8;
  font-size:12px;
  line-height:16px;
  color:#666;
  margin:0px;
  padding:0px;
}
a:link {
  color:000;
  text-decoration:none;
}

a:visited {
  color:#000;
  text-decoration:none;
}
a:hover {
  color:#fecc03;
}
a:active {
  color:#fecc03;
}

h1 {
  font-family: 'Didact Gothic',sans-serif;
  font-size:24px;
  line-height:32px;
  font-weight:normal;
  color:#333;
}

h3 {
   font-family: 'Didact Gothic',sans-serif;
}
#header {
  background-color:#fff;
  padding:20px;
  width:100%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  
}

#occupy-net img {
  width:200px;
}
#tweets {
  padding:20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);

}
#terms {
  display:none;
  padding:10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  
}
#footer {
    margin-top:20px;
    margin-bottom:10px;
    color: #CCCCCC;
    font-size: 10px;
    text-align: center;
    width: 100%;
}
.tweet {
  clear:both;
  width:100%;
  margin-bottom:5px;
  -moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	-khtml-radius: 5px;
	border-radius: 5px;
  background-color:#fff;
  
}
.text {
  width:80%;
  padding:20px;
  padding-bottom:10px;
}

.date {
  float:right;
  height:20px;
  width:120px;
  padding:20px;
  padding-bottom:0px;
  font-size:10px;
  text-align:right;
}


.right {
  float:right;
}